{% extends "base.html" %}

{% block content %}

<div class="jumbotron shadow">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="bs-callout bs-callout-primary mt-0">
				<h4>Kata Positif</h4>
				<p class="text-muted">Daftar kata-kata bermuatan positif dari <em>database</em></p>
			</div>
			<div class="col-md-12 text-center mb-3">
				<button type="button" class="btn btn-success w-25 mx-1" data-toggle="modal" data-target="#positive_wordTambahModal"><i class="fa fa-plus"></i> Tambah Data</button>
				<em>atau</em>
				<button type="button" class="btn btn-success w-25 mx-1" data-toggle="modal" data-target="#positive_wordImportModal"><i class="fa fa-plus"></i> Import Data</button>
				
				<!-- Modal Tambah -->
				<div class="modal fade" tabindex="-1" id="positive_wordTambahModal" >
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Tambah Data</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form action="/positive-word" method="POST">
								<div class="modal-body">
									<div class="form-group px-4 text-left">
										<label>Kata Positif</label>
										<input type="text" name="kata_positif" placeholder="Misal: indah" class="form-control" required />
									</div>
									<div class="form-group px-4 text-left">
										<label for="customRange">Nilai Kata Positif</label>
										<div class="d-flex text-muted px-1">
											<small class="flex-fill bd-highlight text-left">1</small>
											<small class="flex-fill bd-highlight text-left pl-3 ml-3">2</small>
											<small class="flex-fill bd-highlight text-center">3</small>
											<small class="flex-fill bd-highlight text-right pr-3 mr-3">4</small>
											<small class="flex-fill bd-highlight text-right">5</small>
										</div>
										<input type="range" class="custom-range" name="nilai_positif" min="1" max="5" id="customRange">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
									<button type="submit" class="btn btn-primary">Tambah</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- Modal Import -->
				<div class="modal fade" id="positive_wordImportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content text-left">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Import Data <em>(Excel)</em></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form action="/importPositive_word" method="POST" enctype="multipart/form-data">
								<div class="modal-body px-5">
									<label>File <em>Excel</em> <small>(.xls atau .xlsx)</small></label>
									<div class="custom-file">
										<input type="file" name="excel_file" class="custom-file-input" id="customFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
										<label class="custom-file-label" for="customFile">Pilih File Excel</label>
									</div>
									<small class="text-secondary"><i class="fa fa-info-circle"></i> Format file <em>excel</em> dapat diunduh <a href="#">di sini</a></small>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
									<button type="submit" class="btn btn-primary">Import</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="table-responsive-sm">
				<table class="table table-bordered table-striped text-center w-100" id="table_dataPositiveWord">
					<thead class="w-100">
						<tr>
							<th>No.</th>
							<th>Kata Positif</th>
							<th>Nilai Kata Positif</th>
							<th>Aksi</th>
						</tr>
					</thead>
				</table>
			</div>

			<!-- Modal Edit -->
			<div class="modal fade" tabindex="-1" id="positive_wordEditModal" >
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title"><i class="fa fa-pencil mx-3"></i>Ubah Data</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form action="/positive-word/ubah" method="POST">
							<div class="modal-body text-muted">
								<div class="form-group px-4 text-left">
									<label>Kata Positif</label>
									<input type="text" name="kata_positif" class="form-control" required />
								</div>
								<div class="form-group px-4 text-left">
									<label for="customRange1">Nilai Kata Positif</label>
									<div class="d-flex text-muted px-1">
										<small class="flex-fill bd-highlight text-left">1</small>
										<small class="flex-fill bd-highlight text-left pl-3 ml-3">2</small>
										<small class="flex-fill bd-highlight text-center">3</small>
										<small class="flex-fill bd-highlight text-right pr-3 mr-3">4</small>
										<small class="flex-fill bd-highlight text-right">5</small>
									</div>
									<input type="range" class="custom-range" name="nilai_positif" min="1" max="5" id="customRange1">
								</div>
								<input type="hidden" name="id" required readonly />
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
								<button type="submit" class="btn btn-primary">Ubah</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<!-- Modal Hapus -->
			<div class="modal fade" tabindex="-1" id="positive_wordDeleteModal" >
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title"><i class="fa fa-trash mx-3"></i>Hapus Data</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body text-center text-muted">
							<p class="my-2">Apakah Anda yakin ingin menghapus data nomor <strong class="text-dark"></strong>?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
							<form action="/positive-word/hapus" method="POST">
								<input type="hidden" name="id" required readonly />
								<button type="submit" class="btn btn-primary">Hapus</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}