{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-12 col-sm-12" id="content_preprocessing">
			<div class="bs-callout bs-callout-primary mt-0">
				<h4>Data Preprocessing</h4>
				<p class="text-muted">Mengolah data hasil proses <em>Crawling</em></p>
			</div>
			<div class="col-md-6 offset-md-3 col-sm-12 text-center mb-3">
				<button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#modalPreprocessing"><i class="fa fa-cog"></i> Preprocessing Data</button>
			</div>
	
			<!-- Modal -->
			<div class="modal fade" id="modalPreprocessing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Preprocessing Data</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form>
							<div class="modal-body px-5">
								<label>Pilih Data untuk Preprocessing</label>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" name="tipe_data[]" value="0" id="data-tes" />
									<label class="custom-control-label" for="data-tes">Data Tes &nbsp;({{ count_tweet_testing['jumlah'] }} data untuk diproses)</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" name="tipe_data[]" value="1" id="data-latih" />
									<label class="custom-control-label" for="data-latih">Data Latih &nbsp;({{ count_tweet_training['jumlah'] }} data untuk diproses)</label>
								</div>
								<input type="hidden" name="aksi" value="preprocessing" required readonly />
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
								<button type="submit" id="preprocessing_data" class="btn btn-primary" data-dismiss="modal">Preprocessing</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<ul class="nav nav-pills mt-4 mb-1 d-flex justify-content-center w-100 text-center" id="pills-tab" role="tablist">
				<li class="nav-item w-25">
					<a class="nav-link border border-info round mx-1 active" id="pills-tes-tab" data-toggle="pill" href="#pills-tes" role="tab" aria-controls="pills-home" aria-selected="true">Data Tes</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link border border-info round mx-1" id="pills-latih-tab" data-toggle="pill" href="#pills-latih" role="tab" aria-controls="pills-profile" aria-selected="false">Data Latih</a>
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-tes" role="tabpanel" aria-labelledby="pills-tes-tab">
					<div class="table-responsive-sm">
						<table class="table table-bordered table-striped text-center" id="myTable">
							<thead>
								<tr>
									<th>No.</th>
									<th>ID</th>
									<th>Teks Bersih</th>
									<th>Pengguna</th>
									<th>Dibuat pada</th>
									<!--
									<th>Pilihan</th>
									-->
								</tr>
							</thead>
							<tbody>
								{% for data in data_preprocessing['data_tweet_testing'] %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ data.id }}</td>
									<td class="text-left">{{ data.clean_text }}</td>
									<td>{{ data.user }}</td>
									<td>{{ data.created_at }}</td>
									<!--
									<td>
										<button type="button" class="btn btn-warning mb-1"><i class="fa fa-pencil text-white"></i></button>
										<button type="button" class="btn btn-danger mb-1"><i class="fa fa-trash"></i></button>
									</td>
									-->
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-latih" role="tabpanel" aria-labelledby="pills-latih-tab">
					<div class="table-responsive-sm">
						<table class="table table-bordered table-striped text-center" id="myTable2">
							<thead>
								<tr>
									<th>No.</th>
									<th>ID</th>
									<th>Teks Bersih</th>
									<th>Pengguna</th>
									<th>Dibuat pada</th>
									<!--
									<th>Pilihan</th>
									-->
								</tr>
							</thead>
							<tbody>
								{% for data in data_preprocessing['data_tweet_training'] %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ data.id }}</td>
									<td class="text-left">{{ data.clean_text }}</td>
									<td>{{ data.user }}</td>
									<td>{{ data.created_at }}</td>
									<!--
									<td>
										<button type="button" class="btn btn-warning mb-1"><i class="fa fa-pencil text-white"></i></button>
										<button type="button" class="btn btn-danger mb-1"><i class="fa fa-trash"></i></button>
									</td>
									-->
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}