{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-12 col-sm-12" id="content_preprocessing">
			<div class="bs-callout bs-callout-primary mt-0">
				<h4>Data <em>Preprocessing</em></h4>
				<p class="text-muted">Mengolah data hasil proses <em>Crawling</em></p>
			</div>
			<div class="col-md-6 offset-md-3 col-sm-12 text-center mb-3">
				<button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#modalPreprocessing"><i class="fa fa-cog"></i> <em>Preprocessing</em> Data</button>
			</div>
	
			<!-- Modal Preprocessing -->
			<div class="modal fade" id="modalPreprocessing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel"><em>Preprocessing</em> Data</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form>
							<div class="modal-body text-center px-5">
								<label class="text-muted d-inline-flex align-items-center">Sebanyak <h4 class="text-info mx-2 mb-1" id="jumlah_dataCrawling">{{ data_crawling }}</h4> data (<em>crawling</em>) akan diproses</label>
								<input type="hidden" name="aksi" value="preprocessing" required readonly />
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
								<button type="submit" id="preprocessing_data" class="btn btn-primary" data-dismiss="modal">Preprocessing</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="table-responsive-sm">
				<table class="table table-bordered table-striped text-center" id="myTable">
					<thead>
						<tr>
							<th>No.</th>
							<th>ID</th>
							<th>Teks Bersih</th>
							<th>Pengguna</th>
							<th>Dibuat pada</th>
							<!--
							<th>Aksi</th>
							-->
						</tr>
					</thead>
					<tbody>
						{% for data in data_preprocessing %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ data.id }}</td>
							<td class="text-left">
								{{ data.clean_text }}
								<button type="button" data-toggle="modal" class="btn btn-info btn-sm float-right mt-2 modalLihatTweetAsli" key="{{ data.id }}"><i class="fa fa-search"></i> Lihat Tweet Asli</button>
							</td>
							<td>{{ data.user }}</td>
							<td>{{ data.created_at }}</td>
							<!--
							<td>
								<button type="button" class="btn btn-warning mb-1"><i class="fa fa-pencil text-white"></i></button>
								<button type="button" class="btn btn-danger mb-1"><i class="fa fa-trash"></i></button>
							</td>
							-->
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			
			<!-- Modal Detail Lihat Tweet Asli -->
			<div class="modal fade" id="modalLihatTweetAsli" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					  <div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Detail Tweet</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">
							<h6 class="mb-2">Tweet Asli:</h6>
							<p id="tweetAsli"></p>
							<hr />
							<h6 class="mb-2">Tweet Bersih:</h6>
							<p id="tweetBersih"></p>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}