{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="bs-callout bs-callout-primary mt-0 mb-0">
				<h4>Visualisasi Data</h4>
				<p class="text-muted">Menampilkan data dari hasil penelitian</p>
			</div>
			<div class="row text-center">
				<div class="col-md-12 m-2">
					<h4 style="top: 50px; position: relative;">Grafik distribusi <em>tweet</em> berdasarkan waktu perolehan.<br/>{{ jumlah_tweets }} Data <em>tweet</em></h4>
					<div>
						<img src="../static/matplotlib/hist_distribusi_waktu({{ waktu }}).png" alt="gambar histogram" class="w-100">
					</div>
				</div>
				<div class="col-md-12 m-2">
					<h4 style="top: 50px; position: relative;"><em>Pie Chart</em> persentase sentimen pada {{ jumlah_tweets }} Data <em>tweet</em>.<br/>{{ jumlah_p }} <em>tweet</em> positif ({{ persentase_p }} %) & {{ jumlah_n }} <em>tweet</em> negatif ({{ persentase_n }} %)</h4>
					<div>
						<img src="../static/matplotlib/pie_sentiment({{ waktu }}).png" alt="gambar pie chart" class="w-50">
					</div>
				</div>
				<div class="col-md-12 m-2">
					<div class="row w-100">
						<div class="col-md-6">
							<h4><em>Word Cloud</em> dataset <em>tweet</em> bersentimen positif</h4>
							<div>
								<img src="../static/wordcloud/wordcloud_visualisasiPositive({{ waktu }}).png" alt="gambar wordcloud positif" class="w-100 rounded shadow">
							</div>
						</div>
						<div class="col-md-6">
							<h4><em>Word Cloud</em> dataset <em>tweet</em> bersentimen negatif</h4>
							<div>
								<img src="../static/wordcloud/wordcloud_visualisasiNegative({{ waktu }}).png" alt="gambar wordcloud negatif" class="w-100 rounded shadow">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}