{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="bs-callout bs-callout-primary mt-0">
				<h4>Visualisasi Data</h4>
				<p class="text-muted">Menampilkan data dari hasil penelitian</p>
			</div>
			<div class="row">
				<div class="col-md-12 m-2">
					<h6>Grafik distribusi <em>tweet</em></h5>
					Grafik Waktu -- Timeline
				</div>
				<div class="col-md-12 m-2">
					<h6>Grafik persentase sentimen</h5>
					Grafik Persentase -- Lingkaran
				</div>
				<div class="col-md-12 m-2">
					<h6><em>Word Cloud</em> dataset <em>tweet</em> bersentimen positif</h5>
						Gambar 1
				</div>
				<div class="col-md-12 m-2">
					<h6><em>Word Cloud</em> dataset <em>tweet</em> bersentimen negatif</h5>
					Gambar 2
				</div>
				<div class="col-md-12 m-2">
					<h6><em>Word Cloud</em> dataset <em>tweet</em> bersentimen netral</h5>
					Gambar 3
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}